{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block stylesheets %}
    {{ include('include/navbarlogin.html.twig') }}
{% endblock %}

{% block body %}


    <div class="form-group row">

        {% if error %}
            <b><span class="text-danger">Wrong username or password</span></b>
        {% endif %}


        <form action="{{ path('login') }}" method="POST">
            <fieldset>
                <legend>Login</legend>
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" name="_username" id="exampleInputEmail1"
                           value="{{ lastUserName }}">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="_password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </fieldset>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/authfail.js"></script>
{% endblock %}
